/* @import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

.block {
  display: block;
}

.mb-3 {
  margin-bottom: 30px;
}

.text-danger {
  color: red;
}

.box {
  padding: 5px;
}

.h1000 {
  height: 1000px;
}

.box-border {
  border: 1px solid black;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

.blue { 
  background-color: blue;
}

.item {
  width: 100px;
  height: 100px;
}