/* @import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

.block {
  display: block;
}

.mb-3 {
  margin-bottom: 30px;
}

.text-danger {
  color: red;
}

.box {
  padding: 5px;
  position: relative;
}

.h1000 {
  height: 1000px;
}

.box-border {
  border: 1px solid black;
}

.red {
  background-color: red;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
  border: 1px solid black;
}

.ContextMenu {
  border: 1px solid black;
  border-radius: 3px;
}

.ContextMenu__button {
  border-bottom: 1px solid black;
}

.ContextMenu__button:first {
  border: 5px 5px 0px 0px;
}

.ContextMenu__button:last-child {
  border: 0px 0px 5px 5px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
